@using System.Security.Claims
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Client secret</h2>
@if (User.Identity.IsAuthenticated)
    {
        foreach (var userClaim in User.Claims)
        {
            @Html.Raw($"{userClaim.Type} - {userClaim.Value}");
        }
    }